# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

.vscode/*
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Code/.clang-format
Code/.vscode/settings.json
Code/Capture/Collection/src/tex.txt
.clang-format
Code/Capture/Offsets/.vscode/settings.json
Code/Capture/Collection/.vscode/settings.json
Code/Collection/.vscode/settings.json
Code/Collection/pc_runner.cpp
*.act
Code/Collection/quixker.py
Code/Collection/quicker.py
Code/Collection/i2c_aid.py
Code/Collection/assist_network.py
Code/Collection/assist_i2c_aid.py
