# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

.vscode/*
# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Code/.clang-format
Code/.vscode/settings.json
Code/Capture/Collection/src/tex.txt
.clang-format
Code/Capture/Offsets/.vscode/settings.json
Code/Capture/Collection/.vscode/settings.json
Code/Collection/.vscode/settings.json
Code/Collection/pc_runner.cpp
*.act
Code/Collection/quixker.py
Code/Collection/quicker.py
Code/Collection/i2c_aid.py
Code/Collection/assist_network.py
Code/Collection/assist_i2c_aid.py
*.csv
graphs/
*.png
.style.yapf
assist_runners/__pycache__/action_figures.cpython-310.pyc
assist_runners/__pycache__/action_filters.cpython-310.pyc
*.zip
action_definitions.pb*
action_definitions_pb*
Code/Collection/.vscode/c_cpp_properties.json
*test.cpp
*test.py
data.txt
test_program
data/*
*.cs
ActionDefinitions.cs
assist_runners/action_tests.py
assist_runners/test/*
test/*
assist_runners/rec.py
